<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ubicompforall.ubicomposer.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application>
        <activity android:name="org.ubicompforall.ubicomposer.android.EditStepActivity" android:label="Edit step">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.ubicompforall.ubicomposer.android.TaskListActivity" android:label="Task list">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="org.ubicompforall.ubicomposer.android.TaskActivity" android:label="Edit task" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter></activity>
        <activity android:name="org.ubicompforall.ubicomposer.android.EditTriggerActivity"><intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter></activity>
        <service android:name="org.ubicompforall.ubicomprun.android.UserServiceExecutionService" android:enabled="true"></service>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
  	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> 	
</manifest>