<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 UbiCompForAll
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.obicompforall.wizard.category.ID"
            name="UbiCompForAll"/>
      <wizard
            id="org.ubicompforall.descriptor.presentation.UbiCompDescriptorModelWizardID"
            name="%_UI_UbiCompDescriptorModelWizard_label"
            class="org.ubicompforall.descriptor.presentation.UbiCompDescriptorModelWizard"
            category="org.obicompforall.wizard.category.ID"
            icon="icons/full/obj16/UbiCompDescriptorModelFile.gif">
         <description>%_UI_UbiCompDescriptorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.ubicompforall.descriptor.presentation.UbiCompDescriptorEditorID"
            name="%_UI_UbiCompDescriptorEditor_label"
            icon="icons/full/obj16/UbiCompDescriptorModelFile.gif"
            extensions="ubicompdescriptor"
            class="org.ubicompforall.descriptor.presentation.UbiCompDescriptorEditor"
            contributorClass="org.ubicompforall.descriptor.presentation.UbiCompDescriptorActionBarContributor">
      </editor>
   </extension>

</plugin>
